<h1>Toplantı Katılımcıları</h1>
<table>
    <thead>
        <tr>
            <td>Ad</td>
            <td>Email</td>
            <td>Katılım Durumu</td>
            <td>Detay</td>
        </tr>
        <tr>
            <td>yunusemre</td>
            <td>emre@gmail.com</td>
            <td>Onaylandı</td>
            <td><a href="#">Detay</ahref></td>
        </tr>
    </thead>
</table>